@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Nunito:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-lg;
  }

  blockquote {
    @apply ml-4;
    @apply mr-4;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }

  pre {
    @apply my-4;
  }
}

@layer utilities {
  .scrollbars {
    overflow: auto;
  }
  .scrollbars::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Track */
  .scrollbars::-webkit-scrollbar-track {
    background: #d2d2d6;
    border-radius: 4px;
  }

  /* Handle */
  .scrollbars::-webkit-scrollbar-thumb {
    background: #70a9ff;
    border-radius: 4px;
  }

  /* Handle on hover */
  .scrollbars::-webkit-scrollbar-thumb:hover {
    background: #70a9ff;
    cursor: pointer;
  }
}

:root {
  --primary-color: #2159ab;
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 1920px) and (min-width: 1400px) {
  html {
    font-size: 1rem;
  }
}
